*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #ffffff;
}

/*.cover-box{
    height: 100vh;
    z-index: -999;
}*/

.carousel-item{
    height: 500px;
}

.form-check-input:checked{
    background-color: #212529;
}

.swiper-button-custom-next, .swiper-button-custom-prev{
    display: grid;
    place-items: center;
    padding: 0 0.5em;
    color: #212529;
    font-size: 2em;
}

.swiper-button-disabled i{
    opacity: 0.3;
    cursor: default;
}

.Swiper-Main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .swiper-wrapper{
        position: relative;

        .swiper-slide{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: 'Yomogi', cursive;
            height: auto;
            color: #212529 !important;
        }
    }

    .swiper-pagination{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        bottom: 0;
        padding: 10px;

        .swiper-pagination-bullet {
            width: 30px;
            height: 30px;
            border-radius: 0;
            font-size: 15px;
            display: grid;
            place-items: center;
            color: #eaeaea;
            opacity: 1;
            background: #bdbebf;
            font-family: 'Righteous', cursive;
        }

        .swiper-pagination-bullet-active {
            color: white;
            background-color: #212529;
            transform: scale(1.2);
            transition: 0.3s;
        }
    }
}


h1, h2{
    font-family: 'Londrina Shadow', cursive;
    font-size: 7em;
}

.slider-btn{
   transition: 0.3s;
}

.slider-btn:hover{
    background-color: hsl(0, 0%, 90%);
}

.fa-angle-double-down{
    animation: tofro 0.7s linear infinite alternate;
}

@keyframes tofro{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(10px);
    }
}

.top-left-point{
    display: none;
    position: absolute;
    height: 130px;
    width: 0;
    border-left: 1px solid gold;
    transform-origin: top left;
    z-index: 999;
}

.bottom-left-point{
    display: none;
    position: absolute;
    height: 130px;
    width: 0;
    border-left: 1px solid gold;
    transform-origin: top left;
    z-index: 999;
}

.demo-div, .demo-correlation-div{
    position: relative;
    background-color: #ffffff;
    height: auto;
}

@keyframes zoomin{
    100%{
        transform: scale(1);
    }
}

.demo-image, .demo-result{
    perspective: 500px;
    transform: rotateX(35deg) rotateZ(-30deg);
}

/**/

.circle-to, .equal-to{
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}

.demo-image-div{
    position: relative;
    height: 214px;
    width: 214px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    border: 2px solid hsl(0, 0%, 90%);
    perspective: 500px;
/*    grid-column-gap: 1px;
    grid-row-gap: 1px;*/
}

/*.demo-image-div div:nth-child(2){
    border-left: 2px solid hsl(0, 0%, 90%);
    border-right: 2px solid hsl(0, 0%, 90%);
}

.demo-image-div div:nth-child(4){
    border-left: 2px solid hsl(0, 0%, 90%);
    border-right: 2px solid hsl(0, 0%, 90%);
}

.demo-image-div div:nth-child(6){
    border-left: 2px solid hsl(0, 0%, 90%);
    border-right: 2px solid hsl(0, 0%, 90%);
}

.demo-image-div div:nth-child(44){
    border-left: 2px solid hsl(0, 0%, 90%);
    border-right: 2px solid hsl(0, 0%, 90%);
}

.demo-image-div div:nth-child(46){
    border-left: 2px solid hsl(0, 0%, 90%);
    border-right: 2px solid hsl(0, 0%, 90%);
}

.demo-image-div div:nth-child(48){
    border-left: 2px solid hsl(0, 0%, 90%);
    border-right: 2px solid hsl(0, 0%, 90%);
}

.demo-image-div div:nth-child(8){
    border-top: 2px solid hsl(0, 0%, 90%);
    border-bottom: 2px solid hsl(0, 0%, 90%);
}

.demo-image-div div:nth-child(14){
    border-top: 2px solid hsl(0, 0%, 90%);
    border-bottom: 2px solid hsl(0, 0%, 90%);
}

.demo-image-div div:nth-child(28){
    border-top: 2px solid hsl(0, 0%, 90%);
    border-bottom: 2px solid hsl(0, 0%, 90%);
}

.demo-image-div div:nth-child(22){
    border-top: 2px solid hsl(0, 0%, 90%);
    border-bottom: 2px solid hsl(0, 0%, 90%);
}

.demo-image-div div:nth-child(36){
    border-top: 2px solid hsl(0, 0%, 90%);
    border-bottom: 2px solid hsl(0, 0%, 90%);
}

.demo-image-div div:nth-child(42){
    border-top: 2px solid hsl(0, 0%, 90%);
    border-bottom: 2px solid hsl(0, 0%, 90%);
}*/

.img-pixel{
    position: relative;
    z-index: 500;
}

.demo-result-div{
    position: relative;
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
/*    grid-column-gap: 1px;
    grid-row-gap: 1px;*/
}

.demo-kernel-div{
    position: relative;
    height: 90px;
    width: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
 /*   grid-column-gap: 1px;
    grid-row-gap: 1px;*/
}

.focus-image, .demo-kernel{
    position: absolute;
    height: 90px;
    width: 90px;
    left: 0;
    top: 0 ;
    z-index: 999;
    opacity: 0.8;
    animation: mover 25s steps(1) infinite;
    animation-delay: 1s;
}

.focus-image{
    border: 1px solid #FFC107;
    box-shadow: 0 0 7px #FFC107;
}

.demo-kernel{
    border: 1px solid #212529;
    box-shadow: 0 0 5px #212529;
}

.demo-kernel{
    transform: translateZ(100px);
}

.focus-result{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 0;
    top: 0;
    border: 2px solid #19D3DA;
    box-shadow: 0 0 7px #19D3DA;
    animation: mover 25s steps(1) infinite;
    animation-delay: 1s;
}

@keyframes mover{
    @for $i from 0 through 4{
        @for $j from 0 through 4{
            $percentage: (5*$i+$j)*4;
            #{$percentage}%{
                left: ($j%5)*30px;
                top: ($i%5)*30px;
            }
        }
    }
}


.demo-image-2, .demo-kernel-2{
    perspective: 500px;
}

.demo-image-div-2, .demo-kernel-div-2{
    height: 120px;
    width: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    transform: rotateY(30deg) rotateZ(-5deg);
    position: relative;
}

.demo-image-div-2{
    border: 2px solid #FFC107;
    box-shadow: 0 0 7px #FFC107;
}

.demo-result-div-2{
    height: 30px;
    width: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border: 1px solid #19D3DA;
    box-shadow: 0 0 7px #19D3DA;
}

.demo-image-2{
    transform: translate(-50px, -40px);
}

#img-title{
     color: #FFFFFF;
     /*-webkit-text-stroke: 4px #273036;*/
}

#img-title::before{
    position: absolute;
    top: 0;
    left: 0;
}

#filter-title{
     color: white;
}




.myCarousel{
    width: 90%;
    height: 50vh;
}

.myCarousel .swiper-wrapper{
    height: 90%;
}


.myCarousel .swiper-slide {
    /*height: auto;*/
    background: #fff;
}

.myCarousel .swiper-pagination-bullet {
        width: 30px;
        height: 30px;
        text-align: center;
        font-size: 20px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
}

.myCarousel .swiper-pagination-bullet-active {
    color: #fff;
    background: #292929
}

.loader-bar{
    position: relative;
    display: none;
    height: 20px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
}

.loader{
    height: 12px;
    width: 0;
    border-radius: 6px;
    position: absolute;
    top: 4px;
    left: 5px;
    background-color: white;
    animation: load 1.5s ease-in;
    animation-fill-mode: forwards;
}

@keyframes load{
    0%{
       left: 5px;
       width: 0;
    }
    100%{
       left: 5px;
       width: 290px;
    }
}

#show_img{
    display: none;
    height: 250px;
}

.reset-btn{
    display: none;
}

.after-img-load{
    transition: 0.5s;
}



.fa-times-circle{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 10em;
}

.after-img-load:hover > #show_img{
    opacity: 0.5;
}

.after-img-load:hover > .fa-times-circle{
    display: inherit;
}

.img-mix{
    display: grid;
    place-items: center;

}

.img-mix img{
    height: 400px;
}

.img-mix-wrapper{
    position: relative;
    height: 400px;
    width: auto;
    overflow: hidden;
}

.img-mix-wrapper div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-final{
    overflow: hidden;
}

.img-loader{
    display: grid;
    place-items: center;
}

.loading-square{
    display: none;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    background-color: #212529;
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotateZ(0) scale(1);
    }
    50%{
        transform: rotateZ(180deg) scale(2);
    }
    100%{
        transform: rotateZ(360deg) scale(1);
    }
}

.after-img-load{
    display: none;
    border: 3px solid lightgrey;
    padding: 5px;
    border-radius: 3px;
}

#img_file{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.single-channel{
    width: 100%;
}

.single-channel input{
    aspect-ratio: 1;
    padding: 0;
    text-align: center;
}

.rgb-channel{
    width: 100%;
}

.combined-channel{
    width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.one-channel{
    width: 108px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    margin: 10px;
}

.rgb-channel input{
    aspect-ratio: 1;
    padding: 0;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

 .mySwiper {
    width: 360px;
    font-family: 'Yomogi', cursive;

    .swiper-wrapper {
        .swiper-slide {
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            img {
                background-position: center;
                background-size: cover;
                width: 100%;
            }
        }
    }

    .swiper-pagination{
        position: relative;
        bottom: 0;

        .swiper-pagination-bullet-active{
            background-color: #212529;
            transform: scale(1.5);
            transition: 0.3s;
        }
    }
  }

@media screen and (max-width: 500px){
    #img-title, #filter-title{
        display: block;
        padding: 0 0;
    }

    .combined-channel{
        width: 200px;
        grid-column-gap: 6px;
        grid-row-gap: 6px;
    }

    .combined-channel input{

    }

    .one-channel{
        width: 100px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    h1, h2{
        font-size: 5em;
    }

    .mySwiper{
        width: 300px;
    }

    .swiper-button-custom-next, .swiper-button-custom-prev{
        padding: 0;
    }
}
