*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/gradient-squares.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

h1{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 7em;
}

#img-title{
     color: #FFFFFF;
     -webkit-text-stroke: 4px black;
}

#img-title::before{
    position: absolute;
    top: 0;
    left: 0;
    color:

}

#filter-title{
     color: black;
}


img{
    width: 400px !important;
}


.mySwiper img{
    width: 400px !important;
}

.myCarousel .swiper-wrapper .swiper-slide{
    height: auto;
}

#show_img{
    display: none;
}

#result-div{
    display: none;
}

.img-loader{
    width: 350px;
    aspect-ratio: 1;
    border: 1px solid #C0C0C0;
    display: grid;
    place-items: center;
}

.loading-square{
    display: none;
    width: 10%;
    aspect-ratio: 1;
    background-color: #4C4C4C;
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotateZ(0) scale(1);
    }
    50%{
        transform: rotateZ(180deg) scale(1.5);
    }
    100%{
        transform: rotateZ(360deg) scale(1);
    }
}


#img_file{

}


.single-channel{
    width: 100%;
}

.single-channel input{
    aspect-ratio: 1;
    padding: 0;
    text-align: center;
}

.rgb-channel{
    width: 100%;
}

.combined-channel{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
}

.one-channel{
    width: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
}

.rgb-channel input{
    aspect-ratio: 1;
    padding: 0;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    font-family: 'Signika Negative', sans-serif;
}

 .mySwiper {
        width: 400px;
        height: 400px;
  }

  .mySwiper .swiper-wrapper .swiper-slide {
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
  }

  .mySwiper .swiper-wrapper .swiper-slide img {
    display: block;
    width: 100%;
  }

@media screen and (max-width: 768px){
    h1{
        font-size: 5.5em;
    }
}

@media screen and (max-width: 500px){
    #img-title, #filter-title{
        display: block;
        padding: 0 0;
    },
    img, .img-loader, .upload-div{
        width: 300px !important;
        aspect-ratio: 1;
    }

    .combined-channel{
        width: 200px;
        grid-column-gap: 6px;
        grid-row-gap: 6px;
    }

    .one-channel{
        width: 100px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .swiper-container {
        width: 300px;
        height: 300px;
      }

      h1{
        font-family: 'Libre Franklin', sans-serif;
        font-size: 5em;
    }

    .swiper-slide img{
        width: 300px !important;
    }
}
