{% include 'header.html' %}

<h1 class="text-center p-4 mb-0"><span id="img-title">IMAGE</span><span id="filter-title">FILTER</span></h1>


<div class="container">
    <form action="/filtered" method="POST" enctype="multipart/form-data" class="text-center"
                      id="filter_form">
    <div class="swiper-container myCarousel py-4">
      <div class="swiper-wrapper">
        <div class="swiper-slide bg-primary">
            <div>
                {% if img_data: %}
                <img src="data:image/jpg;base64, {{img_data}}" alt=""/>
                {% else: %}
                <input name="image" type="file" class="form-control" id="img_file" required>
                <img alt="" id="show_img"/>
                {% endif %}
            </div>
        </div>
        <div class="swiper-slide bg-primary">
            <div class="upload-div align-self-center">


                    <div class="filter-coefs">
<!--                        {% for i in range(25):%}-->
<!--                        <input name="filter{{i}}" type="text" class="form-control" autocomplete="off">-->
<!--                        {% endfor %}-->
                        {% for i in range(9): %}
                        <input name="Rfilter{{i}}" type="text" class="form-control" autocomplete="off" value=1>
                        {% endfor %}
                        {% for i in range(9): %}
                        <input name="Gfilter{{i}}" type="text" class="form-control" autocomplete="off" value=1>
                        {% endfor %}
                        {% for i in range(9): %}
                        <input name="Bfilter{{i}}" type="text" class="form-control" autocomplete="off" value=0>
                        {% endfor %}
                    </div>
                        <button type="submit" class="btn btn-dark" id="submit_form">Convert</button>

            </div>
        </div>
        <div class="swiper-slide">
            <div>
                {% if filter_img_data %}
                    <img src="data:image/jpg;base64, {{filter_img_data}}" alt=""/>
                {% else %}
                    <div class="img-loader mx-auto" >
                        <div class="loading-square" >

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
        </form>

<div class="row py-5">
    <div class="col-12 py-5">
        <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc4NjAzNTM2MTQ4MTkx/hith-eiffel-tower-istock_000016468972large-2.jpg" />
        </div>
        <div class="swiper-slide bg-light">
            <h5 class="text-center p-1">Standard Blur</h5>
            <p class="text-center px-4">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    </div>
    <div class="col-12 py-5">
        <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc4NjAzNTM2MTQ4MTkx/hith-eiffel-tower-istock_000016468972large-2.jpg" />
        </div>
        <div class="swiper-slide bg-light">
            <h5 class="text-center p-1">Standard Blur</h5>
            <p class="text-center px-4">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    </div>
    <div class="col-12 py-5">
            <div class="swiper-container mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc4NjAzNTM2MTQ4MTkx/hith-eiffel-tower-istock_000016468972large-2.jpg" />
            </div>
            <div class="swiper-slide bg-light">
                <h5 class="text-center p-1">Standard Blur</h5>
                <p class="text-center px-4">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        </div>
    <div class="col-12 py-5">
            <div class="swiper-container mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc4NjAzNTM2MTQ4MTkx/hith-eiffel-tower-istock_000016468972large-2.jpg" />
            </div>
            <div class="swiper-slide bg-light">
                <h5 class="text-center p-1">Standard Blur</h5>
                <p class="text-center px-4">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        </div>
    <div class="col-12 py-5">
            <div class="swiper-container mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc4NjAzNTM2MTQ4MTkx/hith-eiffel-tower-istock_000016468972large-2.jpg" />
            </div>
            <div class="swiper-slide bg-light">
                <h5 class="text-center p-1">Standard Blur</h5>
                <p class="text-center px-4">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        </div>
</div>

</div>





{% include 'footer.html' %}