{% include 'header.html' %}


<div class="container-fluid m-0 p-0 cover-box d-flex flex-column" style="background-color: #f6f6f6;">

    <h1 class="text-center p-1 mb-0">IMAGE FILTER<!--<span id="img-title">IMAGE</span><span id="filter-title">FILTER</span>--></h1>
    <div class="demo-div d-flex justify-content-evenly align-items-center">
        <div class="demo-image">
            <div class="demo-image-div">
                {% for i in range(49): %}
                    <div class="img-pixel" style="background-color: hsl(0,0%,{{ demo_img_array[i]}}%);"></div>
                {% endfor %}
                <div class="focus-image"></div>
            </div>
        </div>
        <div class="circle-to">⊗</div>
        <div class="demo-kernel">
            <div class="demo-kernel-div">
                {% for i in range(9): %}
                <div class="kernel-pixel" style="background-color: hsl(0,0%,{{80-i}}%);"></div>
                {% endfor %}
            </div>
        </div>
        <div class="equal-to">=</div>
        <div class="demo-result">
            <div class="demo-result-div">
                {% for i in range(25): %}
                    <div class="result-pixel" style="background-color: hsl(0,0%,{{demo_result_array[i]}}%);"></div>
                {% endfor %}
                <div class="focus-result"></div>
            </div>
        </div>
    </div>

    <div class="demo-correlation-div d-flex justify-content-evenly align-items-center">
        <div class="d-flex">
            <div class="demo-kernel-2">
                <div class="demo-kernel-div-2">
                    {% for i in range(9): %}
                    <div class="kernel-pixel" style="background-color: hsl(0,0%,{{80-i}}%);"></div>
                    {% endfor %}
                </div>
            </div>
            <div class="demo-image-2">
                <div class="demo-image-div-2">
                    {% for i in range(9): %}
                        <div class="demo-img-pixel"></div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="demo-result-2">
            <div class="demo-result-div-2">
                <div class="result-pixel" style="background-color: hsl(0,0%,{{demo_result_array[0]}}%);"></div>
            </div>
        </div>

    </div>

    <!--<a class="text-center p-3 m-0 text-dark slider-btn"></a>-->
</div>
<!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#f6f6f6" fill-opacity="1" d="M0,160L40,144C80,128,160,96,240,101.3C320,107,400,149,480,181.3C560,213,640,235,720,229.3C800,224,880,192,960,160C1040,128,1120,96,1200,112C1280,128,1360,192,1400,224L1440,256L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path>
</svg>-->
<div class="container-fluid bg-white">
<!--
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f6f6f6" fill-opacity="1" d="M0,128L120,154.7C240,181,480,235,720,234.7C960,235,1200,181,1320,154.7L1440,128L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path><i class="fas fa-angle-double-down" style="font-size: 30px;"></i></svg>
-->
    <form action="/filtered" method="POST" enctype="multipart/form-data" class="text-center py-5"
        id="filter_form">
        <div class="swiper myCarousel">
            <div class="swiper-pagination position-relative bottom-0 d-flex justify-content-evenly p-1"></div>
            <div class="swiper-button-next end-0"></div>
            <div class="swiper-button-prev start-0"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide d-flex flex-column">
                    <div class="img-div d-flex flex-column justify-content-center align-items-center">
                        <div class="before-img-load">
                            <i class="fas fa-upload fs-1 p-2"></i>
                            <p>Drag or drop your image here</p>
                            <p>Or</p>
                            <div class="img-input-div">
                                <input type="file" class="btn btn-dark rounded-pill" name="image" id="img_file">
                                Browse Files
                            </div>
                        </div>
                        <div class="loader-bar">
                            <div class="loader"></div>
                        </div>
                        <div class="after-img-load">
                            <img alt="" id="show_img" class=""/>
                            <i class="fas fa-times-circle"></i>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide d-flex flex-column justify-content-center align-items-center">
<!--
                    <h5 class="p-1">Step 2: Apply custom matrix filter on the image</h5>
-->

                        <div class="upload-div">
                            <div class="">
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="single-channel-radio-btn" value="single" onclick="modeSelect();" checked>
                                  <label class="form-check-label">Single Channel</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rgb-channel-radio-btn" value="rgb" onclick="modeSelect();">
                                  <label class="form-check-label">RGB Channel</label>
                                </div>
                            </div>

                            <div class="filter-coefs">
                                <div class="single-channel">
                                    <div class="d-flex justify-content-center py-3">
                                        <div class="combined-channel">

                                            {% for i in range(25):%}
                                                <input name="filter{{i}}" type="number" step="0.0001" class="form-control shadow  " autocomplete="off" placeholder=0 value=1>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>

                                <div class="rgb-channel">
                                    <div class="d-flex justify-content-center pt-3">
                                        <div>
                                            <!--<p class="m-0">Red Channel</p>-->
                                            <div class="one-channel">
                                                {% for i in range(9): %}
                                                    <input name="Rfilter{{i}}" type="number" step="0.0001" class="form-control shadow border-danger" autocomplete="off" value=0>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-evenly py-3">
                                        <div>
                                            <!--<p class="m-0">Green Channel</p>-->
                                            <div class="one-channel">
                                                {% for i in range(9): %}
                                                    <input name="Gfilter{{i}}" type="number" step="0.0001" class="form-control shadow border-success" autocomplete="off" value=0>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div>
                                            <!--<p class="m-0">Blue Channel</p>-->
                                            <div class="one-channel">
                                                {% for i in range(9): %}
                                                    <input name="Bfilter{{i}}" type="number" step="0.0001" class="form-control shadow border-primary" autocomplete="off" value=0>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark" id="submit_form">Convert</button>

                </div>

                <div class="swiper-slide d-flex flex-column">
<!--
                    <h5 class="p-1">Step 3: Final filtered Image</h5>
-->

                    {% if filter_img_data %}

                    {% else %}
                        <div class="img-loader mx-auto my-3" >
                            <div class="loading-square mx-auto" >
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </form>

    {% if filter_img_data %}
        <div class="mx-5 py-5 text-center">
            <div class="img-mix">
                <div class="img-mix-wrapper">
                    <div class="img-org">
                        <img src="data:image/jpg;base64, {{img_data}}" alt=""  class="org-img"/>
                    </div>
                    <div class="img-final">
                        <img src="data:image/jpg;base64, {{filter_img_data}}" alt="" id="result-img" class=""/>
                    </div>
                </div>
            </div>

            <input type="range" class="form-range img-comp-slider mt-2" onchange="reveal();">
        </div>

    {% endif %}

    <form action="/" method="GET" class="text-center">
        <button type="submit" class="btn btn-dark reset-btn">Reset</button>
    </form>


    <div class="row" style="background-color: #f6f6f6;">
        <h2 class="text-center p-1 mb-0">Filters</h2>
        <hr>
        <div class="col-12 py-5">
            <div class="swiper-container mySwiper mx-auto">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc4NjAzNTM2MTQ4MTkx/hith-eiffel-tower-istock_000016468972large-2.jpg" />
                </div>
                <div class="swiper-slide bg-light">
                    <h5 class="text-center p-1">Standard Blur</h5>
                    $$ \frac{1}{25}
                        \begin{bmatrix}
                        1 & 1 & 1 & 1 & 1\\
                        1 & 1 & 1 & 1 & 1\\
                        1 & 1 & 1 & 1 & 1\\
                        1 & 1 & 1 & 1 & 1\\
                        1 & 1 & 1 & 1 & 1\\
                        \end{bmatrix}
                    $$
                    <p class="text-center px-4">
                        A box blur (also known as a box linear filter) is a filter in which each pixel in the resulting image has a value equal to the average value of its neighboring pixels in the input image.                    </p>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="col-12 py-5">
            <div class="swiper-container mySwiper mx-auto">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc4NjAzNTM2MTQ4MTkx/hith-eiffel-tower-istock_000016468972large-2.jpg" />
            </div>
            <div class="swiper-slide bg-light">
                <h5 class="text-center p-1">Gaussian Blur</h5>
                 $$ \frac{1}{256}
                        \begin{bmatrix}
                        1 & 4 & 6 & 4 & 1\\
                        4 & 16 & 24 & 16 & 4\\
                        6 & 24 & 36 & 24 & 6\\
                        4 & 16 & 24 & 16 & 4\\
                        1 & 4 & 6 & 4 & 1\\
                        \end{bmatrix}
                    $$
                 <p class="text-center px-4">
                        A box blur (also known as a box linear filter) is a filter in which each pixel in the resulting image has a value equal to the average value of its neighboring pixels in the input image.                    </p>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        </div>
        <div class="col-12 py-5">
            <div class="swiper-container mySwiper mx-auto">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc4NjAzNTM2MTQ4MTkx/hith-eiffel-tower-istock_000016468972large-2.jpg" />
                </div>
                <div class="swiper-slide bg-light">
                    <h5 class="text-center p-1">Standard Blur</h5>
                    $$\begin{bmatrix}
                        1 & 4 & 6 & 4 & 1\\
                        4 & 16 & 24 & 16 & 4\\
                        6 & 24 & 36 & 24 & 6\\
                        4 & 16 & 24 & 16 & 4\\
                        1 & 4 & 6 & 4 & 1\\
                        \end{bmatrix}
                    $$
                    <p class="text-center px-4">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
            </div>
        <div class="col-12 py-5">
            <div class="swiper-container mySwiper mx-auto">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc4NjAzNTM2MTQ4MTkx/hith-eiffel-tower-istock_000016468972large-2.jpg" />
                </div>
                <div class="swiper-slide bg-light">
                    <h5 class="text-center p-1">Standard Blur</h5>
                    <p class="text-center px-4">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="col-12 py-5">
            <div class="swiper-container mySwiper mx-auto">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc4NjAzNTM2MTQ4MTkx/hith-eiffel-tower-istock_000016468972large-2.jpg" />
                </div>
                <div class="swiper-slide bg-light">
                    <h5 class="text-center p-1">Standard Blur</h5>
                    <p class="text-center px-4">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>




{% include 'footer.html' %}